<main>
    <section class="page-back">
        <div class="inner-page">
            <div class="header">
                <span>Rasse: <b>${data?.breed || ''}</b></span>
                <span>Name: <b>${data?.displayName || ''}</b></span>
                <span>Wurftag: <b>${data?.birthDate || ''}</b></span>
                <span>ZB-Nr.: <b>${data?.studbookNumber || ''}</b></span>
                <span>Chip-Nr.: <b>${data?.chipNumber || ''}</b></span>
            </div>
            <div class="grid border">
                <div class="genLabel gen-1 text-center">I. Eltern / Parents</div>
                <div class="genLabel gen-2 text-center">II. Großeltern / Grandparents</div>
                <div class="genLabel gen-3 text-center">III. Urgroßeltern / G. Grandparents</div>
                <div class="genLabel gen-4 text-center">IV. Ururgroßeltern / G.-G. Gr. Grandparents</div>

                <div class="cell gen-1 first-row" style="grid-area: m">
                    <strong>${data?.father?.displayName || ''}</strong>
                    <span>ZB-Nr.:</span>
                    <b>${data?.father?.studbookNumber || ''}</b>
                    <span>Chip-Nr.:</span>
                    <b>${data?.father?.chipNumber || ''}</b>
                    <span>Wurftag:</span>
                    <b>${data?.father?.birthDate || ''}</b>
                    <span>Farbe:</span>
                    <b>${data?.father?.hairColor || ''}</b>
                    <span>Größe:</span>
                    <b>${data?.father?.size || ''}</b>
                    <span>${data?.father?.awardsLength1 || ''}</span>
                </div>
                <div class="cell gen-1" style="grid-area: f">
                    <strong>${data?.mother?.displayName || ''}</strong>
                    <span>ZB-Nr.:</span>
                    <b>${data?.mother?.studbookNumber || ''}</b>
                    <span>Chip-Nr.:</span>
                    <b>${data?.mother?.chipNumber || ''}</b>
                    <span>Wurftag:</span>
                    <b>${data?.mother?.birthDate || ''}</b>
                    <span>Farbe:</span>
                    <b>${data?.mother?.hairColor || ''}</b>
                    <span>Größe:</span>
                    <b>${data?.mother?.size || ''}</b>
                    <span>${data?.mother?.awardsLength1 || ''}</span>
                </div>

                <div class="cell gen-2 first-row" style="grid-area: mm">
                    <strong>${data?.father?.father?.displayName || ''}</strong>
                    <b>${data?.father?.father?.studbookNumber || ''}</b>
                    <b>${data?.father?.father?.birthDate || ''}</b>
                    <b>${data?.father?.father?.hairColor || ''}</b>
                    <b>${data?.father?.father?.chipNumber || ''}</b>
                    <span>${data?.father?.father?.sizeInline || ''}${data?.father?.father?.awardsLength2 || ''}</span>
                </div>
                <div class="cell gen-2" style="grid-area: mf">
                    <strong>${data?.father?.mother?.displayName || ''}</strong>
                    <b>${data?.father?.mother?.studbookNumber || ''}</b>
                    <b>${data?.father?.mother?.birthDate || ''}</b>
                    <b>${data?.father?.mother?.hairColor || ''}</b>
                    <b>${data?.father?.mother?.chipNumber || ''}</b>
                    <span>${data?.father?.mother?.sizeInline || ''}${data?.father?.mother?.awardsLength2 || ''}</span>
                </div>
                <div class="cell gen-2" style="grid-area: fm">
                    <strong>${data?.mother?.father?.displayName || ''}</strong>
                    <b>${data?.mother?.father?.studbookNumber || ''}</b>
                    <b>${data?.mother?.father?.birthDate || ''}</b>
                    <b>${data?.mother?.father?.hairColor || ''}</b>
                    <b>${data?.mother?.father?.chipNumber || ''}</b>
                    <span>${data?.mother?.father?.sizeInline || ''}${data?.mother?.father?.awardsLength2 || ''}</span>
                </div>
                <div class="cell gen-2" style="grid-area: ff">
                    <strong>${data?.mother?.mother?.displayName || ''}</strong>
                    <b>${data?.mother?.mother?.studbookNumber || ''}</b>
                    <b>${data?.mother?.mother?.birthDate || ''}</b>
                    <b>${data?.mother?.mother?.hairColor || ''}</b>
                    <b>${data?.mother?.mother?.chipNumber || ''}</b>
                    <span>${data?.mother?.mother?.sizeInline || ''}${data?.mother?.mother?.awardsLength2 || ''}</span>
                </div>

                <div class="cell gen-3 first-row" style="grid-area: mmm">
                    <strong>${data?.father?.father?.father?.displayName || ''}</strong>
                    <b>${data?.father?.father?.father?.studbookNumber || ''}</b>
                    <b>${data?.father?.father?.father?.birthDate || ''}</b>
                    <b>${data?.father?.father?.father?.hairColor || ''}</b>
                    <b>${data?.father?.father?.father?.chipNumber || ''}</b>
                    <span>${data?.father?.father?.father?.sizeInline || ''}${data?.father?.father?.father?.awardsLength3 || ''}</span>
                </div>
                <div class="cell gen-3" style="grid-area: mmf">
                    <strong>${data?.father?.father?.mother?.displayName || ''}</strong>
                    <b>${data?.father?.father?.mother?.studbookNumber || ''}</b>
                    <b>${data?.father?.father?.mother?.birthDate || ''}</b>
                    <b>${data?.father?.father?.mother?.hairColor || ''}</b>
                    <b>${data?.father?.father?.mother?.chipNumber || ''}</b>
                    <span>${data?.father?.father?.mother?.sizeInline || ''}${data?.father?.father?.mother?.awardsLength3 || ''}</span>
                </div>
                <div class="cell gen-3" style="grid-area: mfm">
                    <strong>${data?.father?.mother?.father?.displayName || ''}</strong>
                    <b>${data?.father?.mother?.father?.studbookNumber || ''}</b>
                    <b>${data?.father?.mother?.father?.birthDate || ''}</b>
                    <b>${data?.father?.mother?.father?.hairColor || ''}</b>
                    <b>${data?.father?.mother?.father?.chipNumber || ''}</b>
                    <span>${data?.father?.mother?.father?.sizeInline || ''}${data?.father?.mother?.father?.awardsLength3 || ''}</span>
                </div>
                <div class="cell gen-3" style="grid-area: mff">
                    <strong>${data?.father?.mother?.mother?.displayName || ''}</strong>
                    <b>${data?.father?.mother?.mother?.studbookNumber || ''}</b>
                    <b>${data?.father?.mother?.mother?.birthDate || ''}</b>
                    <b>${data?.father?.mother?.mother?.hairColor || ''}</b>
                    <b>${data?.father?.mother?.mother?.chipNumber || ''}</b>
                    <span>${data?.father?.mother?.mother?.sizeInline || ''}${data?.father?.mother?.mother?.awardsLength3 || ''}</span>
                </div>
                <div class="cell gen-3" style="grid-area: fmm">
                    <strong>${data?.mother?.father?.father?.displayName || ''}</strong>
                    <b>${data?.mother?.father?.father?.studbookNumber || ''}</b>
                    <b>${data?.mother?.father?.father?.birthDate || ''}</b>
                    <b>${data?.mother?.father?.father?.hairColor || ''}</b>
                    <b>${data?.mother?.father?.father?.chipNumber || ''}</b>
                    <span>${data?.mother?.father?.father?.sizeInline || ''}${data?.mother?.father?.father?.awardsLength3 || ''}</span>
                </div>
                <div class="cell gen-3" style="grid-area: fmf">
                    <strong>${data?.mother?.father?.mother?.displayName || ''}</strong>
                    <b>${data?.mother?.father?.mother?.studbookNumber || ''}</b>
                    <b>${data?.mother?.father?.mother?.birthDate || ''}</b>
                    <b>${data?.mother?.father?.mother?.hairColor || ''}</b>
                    <b>${data?.mother?.father?.mother?.chipNumber || ''}</b>
                    <span>${data?.mother?.father?.mother?.sizeInline || ''}${data?.mother?.father?.mother?.awardsLength3 || ''}</span>
                </div>
                <div class="cell gen-3" style="grid-area: ffm">
                    <strong>${data?.mother?.mother?.father?.displayName || ''}</strong>
                    <b>${data?.mother?.mother?.father?.studbookNumber || ''}</b>
                    <b>${data?.mother?.mother?.father?.birthDate || ''}</b>
                    <b>${data?.mother?.mother?.father?.hairColor || ''}</b>
                    <b>${data?.mother?.mother?.father?.chipNumber || ''}</b>
                    <span>${data?.mother?.mother?.father?.sizeInline || ''}${data?.mother?.mother?.father?.awardsLength3 || ''}</span>
                </div>
                <div class="cell gen-3" style="grid-area: fff">
                    <strong>${data?.mother?.mother?.mother?.displayName || ''}</strong>
                    <b>${data?.mother?.mother?.mother?.studbookNumber || ''}</b>
                    <b>${data?.mother?.mother?.mother?.birthDate || ''}</b>
                    <b>${data?.mother?.mother?.mother?.hairColor || ''}</b>
                    <b>${data?.mother?.mother?.mother?.chipNumber || ''}</b>
                    <span>${data?.mother?.mother?.mother?.sizeInline || ''}${data?.mother?.mother?.mother?.awardsLength3 || ''}</span>
                </div>

                <div class="cell gen-4 first-row" style="grid-area: mmmm">
                    <strong>${data?.father?.father?.father?.father?.displayName || ''}</strong>
                    <b>${data?.father?.father?.father?.father?.studbookNumber || ''}</b>
                    <b>${data?.father?.father?.father?.father?.birthDate || ''}</b>
                    <b>${data?.father?.father?.father?.father?.hairColor || ''}</b>
                    <span>${data?.father?.father?.father?.father?.sizeInline || ''}${data?.father?.father?.father?.father?.awardsLength4 || ''}</span>
                </div>
                <div class="cell gen-4" style="grid-area: mmmf">
                    <strong>${data?.father?.father?.father?.mother?.displayName || ''}</strong>
                    <b>${data?.father?.father?.father?.mother?.studbookNumber || ''}</b>
                    <b>${data?.father?.father?.father?.mother?.birthDate || ''}</b>
                    <b>${data?.father?.father?.father?.mother?.hairColor || ''}</b>
                    <span>${data?.father?.father?.father?.mother?.sizeInline || ''}${data?.father?.father?.father?.mother?.awardsLength4 || ''}</span>
                </div>
                <div class="cell gen-4" style="grid-area: mmfm">
                    <strong>${data?.father?.father?.mother?.father?.displayName || ''}</strong>
                    <b>${data?.father?.father?.mother?.father?.studbookNumber || ''}</b>
                    <b>${data?.father?.father?.mother?.father?.birthDate || ''}</b>
                    <b>${data?.father?.father?.mother?.father?.hairColor || ''}</b>
                    <span>${data?.father?.father?.mother?.father?.sizeInline || ''}${data?.father?.father?.mother?.father?.awardsLength4 || ''}</span>
                </div>
                <div class="cell gen-4" style="grid-area: mmff">
                    <strong>${data?.father?.father?.mother?.mother?.displayName || ''}</strong>
                    <b>${data?.father?.father?.mother?.mother?.studbookNumber || ''}</b>
                    <b>${data?.father?.father?.mother?.mother?.birthDate || ''}</b>
                    <b>${data?.father?.father?.mother?.mother?.hairColor || ''}</b>
                    <span>${data?.father?.father?.mother?.mother?.sizeInline || ''}${data?.father?.father?.mother?.mother?.awardsLength4 || ''}</span>
                </div>
                <div class="cell gen-4" style="grid-area: mfmm">
                    <strong>${data?.father?.mother?.father?.father?.displayName || ''}</strong>
                    <b>${data?.father?.mother?.father?.father?.studbookNumber || ''}</b>
                    <b>${data?.father?.mother?.father?.father?.birthDate || ''}</b>
                    <b>${data?.father?.mother?.father?.father?.hairColor || ''}</b>
                    <span>${data?.father?.mother?.father?.father?.sizeInline || ''}${data?.father?.mother?.father?.father?.awardsLength4 || ''}</span>
                </div>
                <div class="cell gen-4" style="grid-area: mfmf">
                    <strong>${data?.father?.mother?.father?.mother?.displayName || ''}</strong>
                    <b>${data?.father?.mother?.father?.mother?.studbookNumber || ''}</b>
                    <b>${data?.father?.mother?.father?.mother?.birthDate || ''}</b>
                    <b>${data?.father?.mother?.father?.mother?.hairColor || ''}</b>
                    <span>${data?.father?.mother?.father?.mother?.sizeInline || ''}${data?.father?.mother?.father?.mother?.awardsLength4 || ''}</span>
                </div>
                <div class="cell gen-4" style="grid-area: mffm">
                    <strong>${data?.father?.mother?.mother?.father?.displayName || ''}</strong>
                    <b>${data?.father?.mother?.mother?.father?.studbookNumber || ''}</b>
                    <b>${data?.father?.mother?.mother?.father?.birthDate || ''}</b>
                    <b>${data?.father?.mother?.mother?.father?.hairColor || ''}</b>
                    <span>${data?.father?.mother?.mother?.father?.sizeInline || ''}${data?.father?.mother?.mother?.father?.awardsLength4 || ''}</span>
                </div>
                <div class="cell gen-4" style="grid-area: mfff">
                    <strong>${data?.father?.mother?.mother?.mother?.displayName || ''}</strong>
                    <b>${data?.father?.mother?.mother?.mother?.studbookNumber || ''}</b>
                    <b>${data?.father?.mother?.mother?.mother?.birthDate || ''}</b>
                    <b>${data?.father?.mother?.mother?.mother?.hairColor || ''}</b>
                    <span>${data?.father?.mother?.mother?.mother?.sizeInline || ''}${data?.father?.mother?.mother?.mother?.awardsLength4 || ''}</span>
                </div>
                
                <div class="cell gen-4" style="grid-area: fmmm">
                    <strong>${data?.mother?.father?.father?.father?.displayName || ''}</strong>
                    <b>${data?.mother?.father?.father?.father?.studbookNumber || ''}</b>
                    <b>${data?.mother?.father?.father?.father?.birthDate || ''}</b>
                    <b>${data?.mother?.father?.father?.father?.hairColor || ''}</b>
                    <span>${data?.mother?.father?.father?.father?.sizeInline || ''}${data?.mother?.father?.father?.father?.awardsLength4 || ''}</span>
                </div>
                <div class="cell gen-4" style="grid-area: fmmf">
                    <strong>${data?.mother?.father?.father?.mother?.displayName || ''}</strong>
                    <b>${data?.mother?.father?.father?.mother?.studbookNumber || ''}</b>
                    <b>${data?.mother?.father?.father?.mother?.birthDate || ''}</b>
                    <b>${data?.mother?.father?.father?.mother?.hairColor || ''}</b>
                    <span>${data?.mother?.father?.father?.mother?.sizeInline || ''}${data?.mother?.father?.father?.mother?.awardsLength4 || ''}</span>
                </div>
                <div class="cell gen-4" style="grid-area: fmfm">
                    <strong>${data?.mother?.father?.mother?.father?.displayName || ''}</strong>
                    <b>${data?.mother?.father?.mother?.father?.studbookNumber || ''}</b>
                    <b>${data?.mother?.father?.mother?.father?.birthDate || ''}</b>
                    <b>${data?.mother?.father?.mother?.father?.hairColor || ''}</b>
                    <span>${data?.mother?.father?.mother?.father?.sizeInline || ''}${data?.mother?.father?.mother?.father?.awardsLength4 || ''}</span>
                </div>
                <div class="cell gen-4" style="grid-area: fmff">
                    <strong>${data?.mother?.father?.mother?.mother?.displayName || ''}</strong>
                    <b>${data?.mother?.father?.mother?.mother?.studbookNumber || ''}</b>
                    <b>${data?.mother?.father?.mother?.mother?.birthDate || ''}</b>
                    <b>${data?.mother?.father?.mother?.mother?.hairColor || ''}</b>
                    <span>${data?.mother?.father?.mother?.mother?.sizeInline || ''}${data?.mother?.father?.mother?.mother?.awardsLength4 || ''}</span>
                </div>
                <div class="cell gen-4" style="grid-area: ffmm">
                    <strong>${data?.mother?.mother?.father?.father?.displayName || ''}</strong>
                    <b>${data?.mother?.mother?.father?.father?.studbookNumber || ''}</b>
                    <b>${data?.mother?.mother?.father?.father?.birthDate || ''}</b>
                    <b>${data?.mother?.mother?.father?.father?.hairColor || ''}</b>
                    <span>${data?.mother?.mother?.father?.father?.sizeInline || ''}${data?.mother?.mother?.father?.father?.awardsLength4 || ''}</span>
                </div>
                <div class="cell gen-4" style="grid-area: ffmf">
                    <strong>${data?.mother?.mother?.father?.mother?.displayName || ''}</strong>
                    <b>${data?.mother?.mother?.father?.mother?.studbookNumber || ''}</b>
                    <b>${data?.mother?.mother?.father?.mother?.birthDate || ''}</b>
                    <b>${data?.mother?.mother?.father?.mother?.hairColor || ''}</b>
                    <span>${data?.mother?.mother?.father?.mother?.sizeInline || ''}${data?.mother?.mother?.father?.mother?.awardsLength4 || ''}</span>
                </div>
                <div class="cell gen-4" style="grid-area: fffm">
                    <strong>${data?.mother?.mother?.mother?.father?.displayName || ''}</strong>
                    <b>${data?.mother?.mother?.mother?.father?.studbookNumber || ''}</b>
                    <b>${data?.mother?.mother?.mother?.father?.birthDate || ''}</b>
                    <b>${data?.mother?.mother?.mother?.father?.hairColor || ''}</b>
                    <span>${data?.mother?.mother?.mother?.father?.sizeInline || ''}${data?.mother?.mother?.mother?.father?.awardsLength4 || ''}</span>
                </div>
                <div class="cell gen-4" style="grid-area: ffff">
                    <strong>${data?.mother?.mother?.mother?.mother?.displayName || ''}</strong>
                    <b>${data?.mother?.mother?.mother?.mother?.studbookNumber || ''}</b>
                    <b>${data?.mother?.mother?.mother?.mother?.birthDate || ''}</b>
                    <b>${data?.mother?.mother?.mother?.mother?.hairColor || ''}</b>
                    <span>${data?.mother?.mother?.mother?.mother?.sizeInline || ''}${data?.mother?.mother?.mother?.mother?.awardsLength4 || ''}</span>
                </div>
            </div>
        </div>
    </section>
</main>