<main>
    <section class="page-front-left">
        <div class="inner-page border">
            <h2 class="text-center">Liebe Hundebesitzerin, lieber Hundebesitzer,</h3>
            <p class="text-justify">
                Der Deutsche Rassehunde Verband e.V. (DRV e.V.) möchte Sie als stolzen
                Hunde-besitzer recht herzlich beglückwünschen.
            </p>
            <p class="text-justify">
                Sicherlich werden Sie mit Ihrem „vierbeinigen Freund“ viel Freude haben
                und viele schöne gemeinsame Stunden erleben; vielleicht werden Sie sogar
                darüber hinaus mit ihm große Erfolge erringen.
            </p>
            <p class="text-justify">
                Dabei und auch bei allen Belangen der Aufzucht, der Hundehaltung und
                Hundezucht möchte Ihnen der DRV e.V. gern behilflich sein. Durch unsere
                jahrzehntelange Erfahrung mit Hunden stehen Ihnen bei Ihren großen oder
                kleinen Problemen unsere kompetenten Fachleute gern zur Seite.
            </p>
            <p class="text-justify">
                Bitte beachten Sie auch, dass Ihr Hund ein Lebewesen ist, welches gerade in
                der Jugend Ihre Hilfe und Zuneigung benötigt. Wenn Sie Geduld mit ihm
                haben und stets liebevoll mit ihm umgehen, wird er es Ihnen sein ganzes
                Leben lang mit Treue und Liebe danken.
            </p>
            <p class="text-justify">
                In Ihren Unterlagen befindet sich gewiss ein Mitgliedsantrag zu unserem
                Rasse-hunde Verband. Füllen Sie diesen bitte vollständig aus und senden ihn
                unterzeichnet im Original an uns zurück. Vielen Dank!
            </p>
            <p class="text-center">
                Mit freundlicher Empfehlung Ihr
                <img src="${assets?.images?.drv_logo}" style="height: 18mm; margin-left: 16mm; vertical-align: middle;">
            </p>
            <h3 class="text-center" style="margin-top: 7mm;">Deutscher Rassehunde Verband e.V. (DRV)</h3>
            <p class="text-center" style="margin-top: 1mm;">
                Hauptgeschäftsstelle: Hinter den Gärten 1 ~ 38729 Langelsheim<br>
                Tel: 05341 – 2934395 ~ drvev@mail.de ~ www.drvev.de
            </p>
            <div class="separator"></div>
            <p>
                <b>Bemerkungen:</b><br>
                ${data?.notes || ""}
            </p>
        </div>
    </section>
    <section class="page-front-right">
        <div class="inner-page border">
            <div class="header">
                <h1 class="text-center">${data?.title || "Ahnenpass"}</h1>
                <h2 class="text-center">${data?.subtitle || "Pedigree"}</h2>
            </div>

            <div class="grid">
                <div class="breedLabel">
                    <span>Rasse:</span><br>
                    <small>Breed</small>
                </div>
                <div class="breedValue">
                    <b>${data?.breed || ""}</b>
                </div>

                <div class="nameLabel">
                    <span>Name d. Hundes:</span><br>
                    <small>Name of dog</small>
                </div>
                <div class="nameValue text-lg">
                    <b>${data?.kennelNameFirst ? data?.kennel || '': data?.name || ''}</b><br>
                    <b>${data?.kennelNameFirst ? data?.name || '': data?.kennel || ''}</b>
                </div>

                <div class="dateLabel">
                    <span>Wurftag:</span><br>
                    <small>Date of birth</small>
                </div>
                <div class="dateValue">
                    <b>${data?.birthDate || ""}</b>
                </div>

                <div class="litterLabel">
                    <span>Wurfstärke:</span><br>
                    <small>Litter size</small>
                </div>
                <div class="litterValue">
                    <b>${data?.litterMaleCount || 0} / ${data?.litterFemaleCount || 0}</b>
                </div>

                <div class="sexLabel">
                    <span>Geschlecht:</span><br>
                    <small>Sex</small>
                </div>
                <div class="sexValue">
                    <b>${data?.sex || ""}</b>
                </div>

                <div class="colorLabel">
                    <span>Farbe:</span><br>
                    <small>Color</small>
                </div>
                <div class="colorValue">
                    <b>${data?.hairColor || ""}</b>
                </div>

                <div class="studbookLabel">
                    <span>Zuchtbuch - Nr.:</span><br>
                    <small>Studbook No.</small>
                </div>
                <div class="studbookValue text-lg">
                    <b>${data?.studbookNumber || ""}</b>
                </div>

                <div class="fcmLogo text-center">
                    <img src="${assets?.images?.fcm_logo}" height="80">
                </div>

                <div class="chipLabel">
                    <span>Chip - Nr.:</span><br>
                    <small>Microchip No.</small>
                </div>
                <div class="chipValue">
                    <b>${data?.chipNumber || ""}</b>
                </div>

                <div class="addressLabel">
                    <span>Züchter / Anschrift:</span><br>
                    <small>Breeder / Address</small>
                </div>
                <div class="addressValue">
                    <b>${data?.address || ""}</b>
                </div>
            </div>

            <div class="footer">
                <small class="label">Für die Richtigkeit der Wurfangaben:</small>
                <div class="signatureLine"></div>
                <small class="signatureLabel text-center">Unterschrift des Züchters</small>
            </div>
        </div>
    </section>
</main>