@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-sans: 'Inter', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
}

:root {
    --ui-primary: var(--color-blue-800);
}

.dark {
    --ui-primary: var(--color-blue-500);
}

#__nuxt {
    height: 100%;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-thumb {
    background: var(--ui-text-muted);
    border-radius: 3px;
    background-clip: content-box;
    border: 2px solid transparent;
}

*::-webkit-scrollbar-thumb:hover {
    border: 0px solid transparent;
    border-radius: 2px;
}