@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-sans: 'Inter', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
}

:root {
    --ui-primary: var(--color-indigo-500);
}

.dark {
    --ui-primary: var(--color-indigo-400);
}

#__nuxt {
    height: 100%;
}